{% extends 'projectnavbar.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block styles %}
<style>
    body {
            background-image: url('https://img.freepik.com/premium-photo/opened-book-with-flying-pages-butterflies-dark-backgroundgenerative-ai_391052-12859.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: 'Arial', sans-serif;
            color: #333;
        }
    h3{
    color: blue;
    }
    li{
    color : blue;
    }
</style>
{% endblock styles %}
{% block main-content %}
<br/><br/>
<div class="my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{ request.user }}</span></h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h5 style="text-align:center">Profile Details</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'profile' %}" class="btn btn-primary btn-block">Profile</a></li>
                        <li class="list-group-item"><a href="{% url 'address' %}" class="btn btn-outline-primary btn-block">Address</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <form action="{% url 'profile' %}" method="post">
                {% csrf_token %}
                {% for fm in forms %}
                    {{ fm.label_tag }} {{ fm }}<small class="text-danger">{{ fm.errors|striptags }}</small><br>
                {% endfor %}
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{ msg.tags }}" role="alert">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
